/* Style for landing page test*/

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.blue,
.bottom-half,
.bottom-button { 
    padding-left: 120px;
    padding-right: 120px;
}

.blue {
    background-color: #1f2937;
    color: white;
    text-decoration: none;
    
    
}

.bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
    font-weight: bolder;
}

.header-links {
    display: flex;
    padding-right: 50px;
    gap: 28px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    
}

.header-bottom {
    display: flex;
    /* margin: 20px; */
    height: 200px;
    
}

button {
    width: 90px;
    background-color: #3882f6;
    color: white;
    margin: 4px;
}

.awesome {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: bold;
    padding-right: 30px;
    height: 90px;
    min-width: 320px;
}

.awesome-text {
    font-size: 18px;
    font-weight: normal;
}

.header-bottom > img {
    height: 150px;
    width: 400px;
    border-style: solid;
    
    border-color: white;
}

.images > img {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: blue;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    
}

.bottom-header {
    font-size: 26px;
    font-weight: bolder;
    padding: 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    text-align: center;
    margin: 12px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.four-pics {
    display: flex;
    justify-content: center;
}

.quote {
    background-color: rgb(207, 199, 199);
    min-height: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.obama {
    text-align: end;
    font-style: italic;
    font-weight: bolder;
}

.quote-text {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.blue-bottom {
    background-color: rgb(46, 96, 231);
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: white;
    gap: 32px;
}

.blue-bottom > button {
    border-radius: 8px;
    border-color: white;
    
}

.action {
    font-weight: bolder;
    
}