/* Style for landing page test*/

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.blue,
.bottom-half { 
    padding-left: 120px;
    padding-right: 120px;
}

.blue {
    background-color: #1f2937;
    color: white;
    text-decoration: none;
    
    
}

.bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
    font-weight: bolder;
}

.header-links {
    display: flex;
    padding-right: 50px;
    gap: 28px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    
}

.header-bottom {
    display: flex;
    /* margin: 20px; */
    height: 200px;
    
}

button {
    width: 90px;
    background-color: #3882f6;
    color: white;
    margin: 4px;
}

.awesome {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: bold;
    padding-right: 30px;
}

.awesome-text {
    font-size: 18px;
    font-weight: normal;
}

.header-bottom > img {
    height: 150px;
    width: 400px;
    border-style: solid;
    
    border-color: white;
}

.images > img {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: blue;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    
}

.bottom-header {
    font-size: 26px;
    font-weight: bolder;
    padding: 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    text-align: center;
    margin: 12px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-pics {
    display: flex;
    justify-content: center;
}